@mixin logo($url){
  &::before{
    content: '';
    display: block;
    $lw: 70px;
    width: $lw;
    height: $lw;
    background-image: url($url);
    background-position: center;
    background-size: contain;
  }
}

@mixin col-1($width){
  display: flex;
  flex-direction: column;
  border: 1px solid #000044;
  text-align: justify;
  align-self: center;
  width: $width;
  margin: 10px auto;
}


@mixin col-2(){
  display: grid;
  grid-template-columns: 1fr 1fr;
}
