* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; }

a {
  text-decoration: none;
  color: inherit; }

a::after {
  content: '';
  display: block;
  border-color: inherit;
  width: 0;
  transition: width 0.5s ease-in-out; }

a:hover::after {
  content: '';
  border-bottom: 1px solid #000044;
  width: 100%; }

@keyframes leftTranslate {
  0% {
    left: -100%; }
  100% {
    left: 0; } }

/* PRELOAD */
.preload {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 51, 0.9);
  z-index: 100;
  animation: leftTranslate 3s; }
  .preload h1 {
    color: lavender;
    width: 50%;
    margin: 50px auto;
    font-size: 5em;
    text-align: center; }
  .preload button {
    cursor: pointer;
    padding: 15px 25px;
    font-size: 5em;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: lavender;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 20px #2d682f; }
    .preload button:hover {
      background-color: #3d8b40; }
    .preload button:active {
      background-color: #3e8e41;
      box-shadow: 0 5px black;
      transform: translateY(4px); }

/* PRELOAD END*/
/* PROFILE */
.Profile {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: column;
  float: left;
  text-align: center;
  height: 120vh;
  width: 200px;
  background-color: #444444;
  color: lavender; }
  .Profile img {
    display: block;
    align-self: center;
    margin: 10px auto;
    border-radius: 50px;
    filter: brightness(0.9);
    -webkit-filter: brightness(0.9);
    -moz-filter: brightness(0.9); }
  .Profile h2 {
    letter-spacing: 0.25em; }
  .Profile section {
    font-size: 15pt;
    width: 100px;
    margin: 30px auto;
    border: 1px solid lavender;
    padding: 10px; }
  .Profile p {
    width: 80%;
    margin: 10px auto;
    font-size: 10pt;
    text-align: left; }

/* MAIN */
.main {
  color: #000044;
  text-align: center;
  /* ABOUT */
  /* ABOUT ENDS*/
  /* EDUCATION */
  /* EDUCATION ENDS*/
  /* EXPERIENCE */
  /* EXPERIENCE ENDS*/
  /* SECTIONS */
  /* SECTIONS Ends*/ }
  .main > h1 {
    text-decoration: underline red dashed; }
  .main #about {
    display: flex;
    flex-direction: column;
    border: 1px solid #000044;
    text-align: justify;
    align-self: center;
    width: 50%;
    margin: 10px auto; }
    .main #about > h2 {
      margin: 10px; }
      .main #about > h2::after {
        content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.";
        font-size: 0.5em;
        float: left; }
  .main .education {
    display: flex;
    flex-direction: column;
    border: 1px solid #000044;
    text-align: justify;
    align-self: center;
    width: 80%;
    margin: 10px auto; }
    .main .education section {
      margin: 0 10px; }
      .main .education section #toronto::before {
        content: '';
        display: block;
        width: 70px;
        height: 70px;
        background-image: url("../img/school_logo/uoft.jpg");
        background-position: center;
        background-size: contain; }
      .main .education section #ryerson::before {
        content: '';
        display: block;
        width: 70px;
        height: 70px;
        background-image: url("../img/school_logo/ryerson.jpg");
        background-position: center;
        background-size: contain; }
  .main .experience {
    display: flex;
    flex-direction: column;
    border: 1px solid #000044;
    text-align: justify;
    align-self: center;
    width: 80%;
    margin: 10px auto; }
    .main .experience section {
      margin: 0 10px; }
      .main .experience section #triway::before {
        content: '';
        display: block;
        width: 70px;
        height: 70px;
        background-image: url("../img/workplace_logo/triway.png");
        background-position: center;
        background-size: contain; }
      .main .experience section #wlc::before {
        content: '';
        display: block;
        width: 70px;
        height: 70px;
        background-image: url("../img/workplace_logo/WLC Logo.jpg");
        background-position: center;
        background-size: contain; }
      .main .experience section #mf::before {
        content: '';
        display: block;
        width: 70px;
        height: 70px;
        background-image: url("../img/workplace_logo/Logo.png");
        background-position: center;
        background-size: contain; }
  .main .section-1 {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .main .section-1 h2 {
      border: none; }
    .main .section-1 .col {
      border: 1px solid #000044;
      margin-left: 10px;
      text-align: justify; }
      .main .section-1 .col ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 1em;
        margin: 20px auto; }
        .main .section-1 .col ul li {
          text-align: center;
          list-style: none;
          margin: 10px auto; }
          .main .section-1 .col ul li img {
            height: 100%;
            width: 100%; }
