.education{
  border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background: #fff;
    box-shadow: 0 0 10px #ccc;
    border-radius: 5px;
    position: relative;
    overflow: hidden;

}